#search-results{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgb(215, 216, 218);

    border-radius: 12px;
    padding: 10px;
    
}

#search-results:empty {
    display: none;
}

#clear-search {
    outline: none;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;

    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;  
    margin: 20px auto;
    font-size: 15px;
    

    display: none;
}

#clear-search:hover {
    background-color: rgb(53, 50, 50);
    transform: scale(1.08);
}

#sort-select {
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.control-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}